.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 348px;
    margin: 0 auto;

    .input {
        flex: 0 0 56px;
        width: 348px;
        margin-bottom: 10px;
    }

    & label {
        flex: 0 0 24px;
        text-align: left;
        align-self: flex-start;
    }

    .btn {
        flex: 0 0 48px;
        width: 102px;
        margin-top: 10px;
    }
}
