@import 'variables';

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    height: 516px;
    background: white;
    border-radius: 8px;

    .logo {
        margin-top: 72px;
    }

    .title {
        margin-top: 40px;
        margin-bottom: 0;
        color: black;
        font-size: 20px;
        line-height: 28px;

        @include headlineH1bold20;
    }

    .subtitle {
        margin-top: 8px;
        margin-bottom: 32px;
        color: black;
        font-size: 14px;
        line-height: 24px;

        @include body14Regular;
    }

    .input {
        margin-bottom: 4*$atom;

        @media (max-width: $screen-w--s) {
            width: 87*$atom;
        }
    }

    .btnWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 87*$atom;
        margin-top: 6*$atom;
    }

    .err {
        color: darkred;
        font-size: 12px;
    }

    .btn {
        flex: 0 0 48px;
        width: 102px;
    }
}
