@import 'variables';

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    height: 516px;
    background: white;
    border-radius: 8px;

    .logo {
        margin-top: 72px;
    }

    .title {
        margin-top: 40px;
        margin-bottom: 0;
        color: black;
        font-size: 20px;
        line-height: 28px;

        @include headlineH1bold20;
    }

    .subtitle {
        margin-top: 8px;
        margin-bottom: 32px;
        color: black;
        font-size: 14px;
        line-height: 24px;

        @include body14Regular;
    }

    .input {
        margin-bottom: 4*$atom;

        @media (max-width: $screen-w--s) {
            width: 87*$atom;
        }
    }

    .icon {
        right: 60px;
    }

    label {
        align-self: flex-start;
        margin-top: 10px;

        .hidden {
            display: block;
        }

        span {
            display: flex;
            align-content: center;
            margin-top: -5px;

            &::before {
                width: 19px;
                height: 19px;
                margin-right: 5px;
                background: white;
                border: 1px solid rgba(34, 36, 38, 0.15);
                border-radius: 3px;
            }
        }
    }

    .btnWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 348px;
        margin-top: 44px;
    }

    .err {
        color: darkred;
        font-size: 12px;
    }

    .btn {
        flex: 0 0 48px;
        width: 102px;
    }
}
