@import 'variables';

.row {
    border-bottom: 1px solid $secondary-light-50;
}

.active {
    background: $secondary-light-50;
}

.iconWrap {
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
