@import 'variables';

.helpContainer {
    display: flex;
    flex-direction: column;
}

.popoverTitle {
    @media screen and (max-width: $ant-breakpoint-lg) {
        margin-bottom: 0 !important;
        font-size: 12px;
    }
}

.popoverBadge {
    display: flex;
}
