@import 'variables';

.help_container {
    display: flex;
    flex-direction: column;
}

.popover_title {
    @media screen and (max-width: $ant-breakpoint-lg) {
        margin-bottom: 0 !important;
        font-size: 12px;
    }

    @media screen and (max-width: 458px) {
        max-width: 240px;
    }
}

.popover_badge {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-child > span:first-child {
        @media screen and (max-width: 458px) {
            margin-top: -15px;
        }
    }
}
