{
  "extends": "eslint-config-sh-react",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "window": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
            "node_modules",
            "src/"
        ]
      }
    }
  },
  "rules": {
      "import/no-unresolved": "off",
      "import/prefer-default-export": "off",
      "arrow-parens": "off",
      "no-param-reassign": "off",
      "react/jsx-props-no-spreading": "off",
      "prefer-promise-reject-errors": "off"
  }
}
