@import 'variables';

.content {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.childrenContainer {
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: $white;
    border-radius: 2px;
    box-shadow: $shadow-header;
}
