@import 'variables';

.header {
    @include flex-centered;

    box-shadow: $shadow-header;

    &__container {
        @include flex-space-between;
        @include max-w-1440;

        padding: 0 50px;
    }

    &__logo {
        @include flex-centered;
    }
}

.content {
    @include flex-centered;

    padding: 54px 24px 70px 24px;
    background-color: $gray-bg;
}

.childrenContainer {
    @include max-w-1440;
}
