@import 'variables';

.header {
    @include flex-centered;

    box-shadow: $shadow-header;

    &__container {
        @include flex-space-between;
        @include max-w-1440;

        padding: 0 50px;
        //height: 100%;
    }

    &__logo {
        @include flex-centered;
    }
}

.content {
    @include flex-centered;

    padding: 54px 50px 70px 50px;
    background-color: $gray-bg;
    //height: 100vh;
}

.children_container {
    @include max-w-1440;

    //height: 100%;
}
