@import 'variables';

$border: 1px solid $secondary-light-50;

@mixin useBadge {
    @include caption12Regular;

    padding-left: 20px;

    sup {
        top: 50%;
        right: unset;
        left: 0;
        transform: translateY(-50%);
    }
}

.wrap {
    position: relative;
    margin: 28px 0;

    @media (min-width: $screen-w--s) {
        margin-bottom: 84px;
    }

    .text {
        @include caption12Regular;

        position: absolute;
        top: 5px;
        left: 0;
        color: $secondary-main-300;

        @media (min-width: $screen-w--s) {
            top: 19px;
        }
    }

    .tableRow {
        cursor: pointer;

        .badge {
            @include useBadge;
        }
    }

    .list {
        .listItem {
            @include caption12Regular;

            padding: 16px;
            cursor: pointer;

            &:hover {
                background: #fafafa;
            }

            .listText {
                @include caption12Regular;

                margin: 16px 0;

                &:first-child, {
                    margin: 0;
                }
            }

            .badge {
                @include useBadge;

                margin-top: 16px;
            }
        }
    }
}
