.newDevice {
    .title {
        margin-bottom: 34px;
    }

    .firstPoint {
        margin-bottom: 28px;
    }

    .otherPoints {
        margin-bottom: 10px;
    }

    .firstInput {
        margin-bottom: 26px;
    }

    .secondInput {
        margin-bottom: 40px;
    }

    .declineBtn {
        margin-right: 16px;
    }

    .okBtn {
        //
    }
}
