@import 'variables';

.newDevice {
    .title {
        margin-bottom: 34px;
    }

    .firstPoint {
        margin-bottom: 28px;
    }

    .otherPoints {
        margin-bottom: 10px;
    }

    .firstInput {
        margin-bottom: 26px;
    }

    .secondInput {
        margin-bottom: 40px;
    }

    .btnsWrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .declineBtn {
            margin-right: 16px;
        }

        .okBtn {
            margin-right: 16px;
        }

        .status {
            @include caption12Regular;

            width: 210px;
            color: $secondary-main-300;
        }
    }
}

.modal {
    @include body14Regular;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 538px;
    height: 272px;
    padding: 48px 60px 40px;
    color: $secondary-main-300;
    background: white;
    border-radius: 6px;

    .modalTitle {
        @include headlineH1bold20;

        margin-bottom: 12px;
        color: $secondary-dark-900;
    }

    .modalList {
        margin: 0;
        margin-bottom: 40px;
        padding-left: 15px;
    }

    .declineModalBtn {
        margin-right: 16px;
    }

    .okModalBtn {
        //
    }
}
