@import 'variables';

.newDevice {
    .title {
        margin-bottom: 34px;
    }

    .firstPoint {
        margin-bottom: 28px;
    }

    .otherPoints {
        margin-bottom: 10px;
    }

    .firstInput {
        margin-bottom: 26px;
    }

    .secondInput {
        margin-bottom: 40px;
    }

    .btnsWrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .declineBtn {
            margin-right: 16px;
        }

        .okBtn {
            margin-right: 16px;
        }

        .status {
            @include caption12Regular;

            width: 210px;
            color: $secondary-main-300;
        }
    }
}
