@import "variables";

.wrap {
    display: flex;

    .map {
        flex: 0 0 auto;
        width: calc(100vw - 466px);
        height: calc(100vh - 128px);

        @media (min-width: $screen-w--s) {
            height: calc(100vh - 64px);
        }
    }
}
