@import "variables.scss";

.card {
    box-sizing: border-box;
    height: 302px;
    margin-bottom: 20px;

    .description {
        position: relative;
        height: 102px;
        padding: 16px 48px 16px 24px;
        border: 1px solid $secondary-light-50;
        border-top: none;
        border-radius: 0 0 6px 6px;

        .title {
            overflow: hidden;
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .time {
            font-size: 12px;
            line-height: 16px;
        }

        .deleteIcon {
            position: absolute;
            right: 18px;
            bottom: 18px;
            margin: 0;
            padding: 0;
        }
    }
}
