@import 'variables.scss';

.btnWrap {
    .btn {
        box-sizing: border-box;
        color: white;
        border-radius: $atom;

        @include body14Medium;

        &.main {
            @include body14Medium;

            background: $primary-main-600;

            &:hover {
                color: white;
                background: $primary-light-400;
            }

            &:active {
                color: white;
                background: $primary-dark-800;
            }

            &:focus {
                color: white;
                outline: $primary-light-100;
            }

            &:disabled {
                color: white;
                background: $secondary-light-200;
            }
        }

        &.outline {
            color: $primary-main-600;
            background: $secondary-light-10;
            border: 1px solid $primary-light-100;

            &:hover {
                border: 1px solid $primary-light-400;
            }

            &:active {
                background: $primary-light-50;
                border: 1px solid $primary-light-50;
            }

            &:focus {
                outline: $primary-light-100;
            }

            &:disabled {
                color: $secondary-light-200;
                background: $secondary-light-200;
            }
        }

        &.link {
            color: $primary-main-600;
            background: none;
        }

        &.dark {
            background: rgba($secondary-dark-900, 0.7);
        }

        &.small {
            padding: 2*$atom 5*$atom;
        }

        &.medium {
            padding: 3*$atom 7*$atom;
        }

        &.large {
            padding: 3*$atom 10*$atom;
        }

        &.icon {
            padding: 3*$atom 3*$atom;
        }

        &.withIcon {
            padding: 3*$atom 7*$atom;
            padding-left: 8*$atom;
        }
    }
}
