@import 'variables';

.header {
    @include flex-centered;

    box-shadow: $shadow-header;

    @media screen and (max-width: $ant-breakpoint-sm) {
        padding: 0 24px !important;
    }

    &__container {
        @include flex-space-between;
        @include max-w-1440;

        padding: 0 50px;

        @media screen and (max-width: $ant-breakpoint-sm) {
            padding: 0;
        }
    }

    &__logo {
        @include flex-centered;
    }

    &__buttons {
        display: flex;

        button:last-child {
            margin-left: 26px;

            @media screen and (max-width: $ant-breakpoint-sm) {
                margin-left: 8px;
            }
        }
    }
}

.content {
    @include flex-centered;

    background: url('./_components/_assets/MoscowCity.jpg'), no-repeat center;
    background-size: cover;
}

.childrenContainer {
    @include max-w-1440;

    height: 100%;
}
