@import 'variables';

.container {
    @include max-w-346;
    @include form-base-container;

    min-height: 560px;
    text-align: center;

    .title {
        padding-bottom: 8px;
    }

    .result {
        padding: 0;
        padding-bottom: 34px;
    }

    .success {
        padding-top: 118px;
    }

    .error {
        padding-top: 107px;
    }
}
