@mixin max-w-346 {
    width: 100%;
    max-width: 346px;
}

@mixin max-w-1440 {
    width: 100%;
    max-width: 1440px;
}

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin form-base-container {
    padding: 40px 24px 16px 24px;
    background-color: $white;
    border-radius: 2px;
}
