$screen-w--xxs:                 320px !default;
$screen-w--xs:                  480px !default;
$screen-w--s:                   768px !default;
$screen-w--m:                   1024px !default;
$screen-w--l:                   1200px !default;
$screen-w--xl:                  1400px !default;
$screen-w--xxl:                 1600px !default;

// Ant Breakpoints

// ant-breakpoint-xs < 576
$ant-breakpoint-sm: 576px !default;
$ant-breakpoint-md: 768px !default;
$ant-breakpoint-lg: 992px !default;
$ant-breakpoint-xl: 1200px !default;
$ant-breakpoint-xxl: 1600px !default;
