@import "variables";

.wrap {
    @include caption12Regular;

    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    color: $secondary-main-300;

    .controls {
        display: flex;
        align-items: center;

        .text {
            margin: 0 44px;
        }
    }
}
