@import "variables";

.wrap {
    @include caption12Regular;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    color: $secondary-main-300;
}
