@import 'variables';
@import './ant/styles/index.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
th {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//.ant-badge-status-default {
//    width: 6px !important;
//}
