@import '../../scss/colors';

.navbar {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 98px;
    border-bottom: 1px solid black;

    .btn {
        margin-left: 34px;
    }
}
