@import "variables";

.navbar {
    height: 128px;
    border-bottom: 1px solid $secondary-light-50;

    @media (min-width: $screen-w--s) {
        height: 64px;
    }

    .wrap {
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        height: 128px;
        margin: 0 auto;
        padding: 0 10px;

        @media (min-width: $screen-w--xs) {
            width: 540px;
            padding: 0 15px;
        }

        @media (min-width: $screen-w--s) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 720px;
            height: 64px;
            padding: 0 15px;
        }

        @media (min-width: $screen-w--m) {
            width: 960px;
            padding: 0 30px;
        }

        @media (min-width: $screen-w--l) {
            width: 1140px;
            padding: 0 28px;
        }
    }

    .btn {
        margin-left: 34px;
    }

    .menu {
        margin: 0;
        padding: 0;

        .item {
            @include caption12Regular;

            margin: 0;
            padding: 14px 20px 18px 20px;
            color: $secondary-dark-900;

            &:hover {
                background: $primary-light-50;
            }
        }
    }
}
