@import "variables.scss";

.title {
    margin-bottom: 24px;
}

.input {
    margin-bottom: 24px;
}

.description {
    margin-bottom: 8px;
    color: $secondary-main-300;

    @include caption12Regular;
}

.dropZone {
    @include flex-centered;

    width: 100%;
    height: 144px;
    border: 1px dashed $primary-light-100;
    border-radius: 6px;

    .text {
        margin-left: 7px;
        color: $primary-main-600;

        @include body14Regular;
    }
}

.declineBtn {
    margin-right: 8px;
}

.input__number {
    width: 100%;
    max-width: 170px;

    @media screen and (max-width: $ant-breakpoint-lg) {
        max-width: 1000px;
    }
}

.input__range_picker {
    width: 100%;
}

.buttons_block {
    display: flex;
}

.progress_container {
    height: 22px;
    margin-bottom: 22px;
}

.drop_description {
    margin-bottom: 0;
}
