@import "variables.scss";

.title {
    margin-bottom: 24px;
}

.description {
    margin-bottom: 8px;
    color: $secondary-main-300;

    @include caption12Regular;
}

.dropZone {
    @include flex-centered;

    width: 100%;
    height: 144px;
    border: 1px dashed $primary-light-100;
    border-radius: 6px;

    .text {
        margin-left: 7px;
        color: $primary-main-600;

        @include body14Regular;
    }
}

.declineBtn {
    margin-right: 8px;
}

.input {
    &__number {
        width: 100%;
        max-width: 170px;

        @media screen and (max-width: $ant-breakpoint-lg) {
            max-width: 1000px;
        }
    }

    &__rangePicker {
        width: 100%;
    }
}

.buttonsBlock {
    display: flex;
}

.progressContainer {
    height: 22px;
    margin-bottom: 22px;
}
