@import 'variables';

.container {
    @include max-w-346;
    @include form-base-container;
    //box-shadow: $shadow-header;
}

.headlines {
    text-align: center;

    h1 {
        @include headlineH1bold20;

        padding-bottom: 8px;
    }

    p {
        @include subtitle14Regular;

        padding-bottom: 24px;
    }
}

.submit {
    margin-top: 10px;
}
