.span {
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
}

.hidden {
    display: none;

    & + span {
        cursor: pointer;
        user-select: none;

        &::before {
            content: "";
            display: inline-block;
            cursor: pointer;
            width: 15px;
            height: 15px;
            background: grey;
        }
    }

    &:checked + span::before {
        content: "";
        display: inline-block;
        cursor: pointer;
        background: darkblue;
    }
}
