@import 'variables';

.icon {
    margin-left: 10px;
    transition: transform 0.2s ease-in-out;
}

.triggerContainer {
    @include flex-centered;

    cursor: pointer !important;
}

.menuItem {
    text-align: left;
}
