@import 'variables.scss';

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 32px;
    color: $secondary-dark-900;

    @include headlineH1bold20;

    .title {
        &:first-child {
            margin-top: 0;
        }
    }

    .btn {
        padding: 12px 28px;
        padding-left: 32px;
    }
}
