@import 'variables';

.wrap {
    width: 280px;

    @media (min-width: $screen-w--xxs) {
        width: 300px;
    }

    @media (min-width: $screen-w--xs) {
        width: 348px;
    }

    @media (min-width: $screen-w--s) {
        width: 716px;
    }

    .title {
        margin-bottom: 34px;
    }

    .firstPoint {
        margin-bottom: 28px;
    }

    .otherPoints {
        margin-bottom: 10px;
    }

    .codeInputWrap {
        position: relative;
        height: 80px;

        .codeInput {
            margin-bottom: 26px;
        }

        .err {
            position: absolute;
            bottom: 0;
        }
    }

    .nameInput {
        margin-bottom: 40px;
    }

    .btnsWrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .declineBtn {
            margin-right: 16px;
        }

        .okBtn {
            margin-right: 16px;
        }

        .status {
            @include caption12Regular;

            width: 210px;
            color: $secondary-main-300;
        }
    }
}
