//todo(nn): выяснить какие шрифты будем использовать и убрать лишние комменты/раскомментить
//Subtitles
@mixin subtitle14Regular {
    //@include fontFamily;

    font-size: 14px;
    line-height: 22px;
}

@mixin subtitle14Medium {
    @include subtitle14Regular;

    font-weight: 500;
}

@mixin subtitle14Bold {
    @include subtitle14Regular;

    font-weight: bold;
}

@mixin subtitle14RegularUnderline {
    @include subtitle14Regular;

    text-decoration: underline;
}

@mixin subtitle16Regular {
    //@include fontFamily;

    font-size: 16px;
    line-height: 24px;
}

@mixin subtitle16Medium {
    @include subtitle16Regular;

    font-weight: 500;
}

@mixin subtitle16Bold {
    @include subtitle16Regular;

    font-weight: bold;
}

@mixin subtitle16RegularUnderline {
    @include subtitle16Regular;

    text-decoration: underline;
}
