// Body
@mixin body14Regular {
    @include fontFamily;

    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

@mixin body14Medium {
    @include body14Regular;

    font-weight: 500;
}

@mixin body14RegularUnderline {
    @include body14Regular;

    text-decoration: underline;
}
