//Subtitles
@mixin subtitle16Regular {
    @include fontFamily;

    font-size: 16px;
    line-height: 24px;
}

@mixin subtitle16Medium {
    @include subtitle16Regular;

    font-weight: 500;
}

@mixin subtitle16RegularUnderline {
    @include subtitle16Regular;

    text-decoration: underline;
}
