@import 'variables.scss';

.container {
    box-sizing: border-box;
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: $screen-w--xxs) {
        width: 320px;
        padding: 0 12px;
    }

    @media (min-width: $screen-w--xs) {
        width: 480px;
        padding: 0 20px;
    }

    @media (min-width: $screen-w--s) {
        width: 720px;
        padding: 0 16px;
    }

    @media (min-width: $screen-w--m) {
        width: 960px;
        padding: 0 20px;
    }

    @media (min-width: $screen-w--l) {
        width: 1140px;
        padding: 0 28px;
    }
}
