@import 'variables';

.header {
    @include flex-centered;

    padding: 0 24px;
    background-color: $white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    &__container {
        @include flex-space-between;

        width: 100%;

        &__dropdown {
            @include flex-centered;
        }
    }
}

.btn {
    margin-left: 40px;
}

.dropdownButton {
    max-height: 15px;
    color: $dark-gray-text;

    @include flex-centered;
}

.siderTrigger {
    svg {
        width: 19px;
        height: 17px;
    }
}
